<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- Stats -->
   <bean id = "SpeedStats" class = "co.ekoew.Stats">
      <property name = "opspeed" value = "3"/>
      <property name = "oparmor" value = "1"/>
   </bean>
   
   <bean id = "MediumStats" class = "co.ekoew.Stats">
      <property name = "opspeed" value = "2"/>
      <property name = "oparmor" value = "2"/>
   </bean>
   
   <bean id = "ArmorStats" class = "co.ekoew.Stats">
      <property name = "opspeed" value = "1"/>
      <property name = "oparmor" value = "3"/>
   </bean>

<!-- Operators -->   
   <bean id = "ops1" class = "co.ekoew.Operator" init-method="myInit" destroy-method="myDest">
      <property name = "opid" value = "101"/>
      <property name = "opcodename" value = "Ash"/>
      <property name = "opname" value = "Eliza Cohen"/>
      <property name = "opctu" value = "FBI SWAT"/>
      <constructor-arg ref="SpeedStats"/> <!-- Constructor Injection -->
   </bean>
   
   <bean id = "ops2" class = "co.ekoew.Operator" init-method="myInit" destroy-method="myDest">
      <property name = "opid" value = "102"/>
      <property name = "opcodename" value = "Thatcher"/>
      <property name = "opname" value = "Mike Baker"/>
      <property name = "opctu" value = "SAS"/>
      <property name = "stats" ref="MediumStats"/> <!-- Setter Injection -->
   </bean>
   
   <bean id = "ops3" class = "co.ekoew.Operator" init-method="myInit" destroy-method="myDest">
      <property name = "opid" value = "103"/>
      <property name = "opcodename" value = "Fuze"/>
      <property name = "opname" value = "
Shuhrat Kessikbayev"/>
      <property name = "opctu" value = "SPETSNAZ"/>
      <property name = "stats" ref="ArmorStats"/> <!-- Setter Injection -->
   </bean>

</beans>